<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Timesheeting Tool</a>
    </div>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-user">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{user.gravatarUrl}}" class="img-circle avatar"> {{user.firstName}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#/account"><i class="fa fa-cogs"></i> Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="/#/logout" title="Log out"><i class="fa fa-sign-out"></i> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="account-header" style="margin-top: 30px;">
      <h1 class="teal text-center">Reset Password</h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 panel">
    <div class="panel-body">
      <form name="confirmPasswordFrm" ng-hide="passwordConfirmed">
        <div class="form-group" ng-class="{ 'has-success': confirmPasswordFrm.password.$valid && submitted,
                                              'has-error': confirmPasswordFrm.password.$invalid && submitted }">
          <label>Current Password</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Enter your old password.." name="password" ng-model="passwords.current" ng-minlength="8" required/>
          </div>
          <div class="error" ng-show="confirmPasswordFrm.password.$dirty && confirmPasswordFrm.password.$invalid" >
            <span ng-show="confirmPasswordFrm.password.$error.required">
              The password field is required!
            </span>
            <span ng-show="confirmPasswordFrm.password.$error.minlength">
              The password entered must be at least 8 characters.
            </span>
          </div>
        </div>
        <div class="form-group text-right">
          <a href="/#/account" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
          <button type="button" ng-click="confirmPassword(confirmPasswordFrm)" class="btn btn-primary">
            <i class="fa fa-check"></i> Confirm
          </button>
        </div>
      </form>

      <form name="resetPasswordFrm" ng-show="passwordConfirmed">
        <div class="form-group" ng-class="{ 'has-success': resetPasswordFrm.password.$valid && submitted,
                                              'has-error': resetPasswordFrm.password.$invalid && submitted }">
            <label>New Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input type="password" class="form-control" name="password" ng-model="user.password" ng-minlength="8" required/>
            </div>
            <div class="error" ng-show="resetPasswordFrm.password.$dirty && resetPasswordFrm.password.$invalid" >
              <span ng-show="resetPasswordFrm.password.$error.required">
                The password field is required!
              </span>
              <span ng-show="resetPasswordFrm.password.$error.minlength">
                The password entered must be at least 8 characters.
              </span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': resetPasswordFrm.confirmPassword.$valid && submitted,
                                              'has-error': resetPasswordFrm.confirmPassword.$invalid && submitted }">
          <label>Confirm New Password</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" ng-model="user.confirmPassword" name="confirmPassword" compare-to="user.password" required/>
          </div>
          <div class="error" ng-show="resetPasswordFrm.confirmPassword.$dirty && resetPasswordFrm.confirmPassword.$invalid" >
            <span ng-show="resetPasswordFrm.confirmPassword.$error">
              The password fields must match!
            </span>
          </div>
        </div>
        <div class="form-group text-right">
          <a href="/#/account" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
          <button type="button" ng-click="resetPassword(resetPasswordFrm)" class="btn btn-primary">
            <i class="fa fa-check"></i> Reset Password
          </button>
        </div>
        
        
      </form>
      </div>
    </div>
  </div>
</div>