
/* Colours - use these for quick font color changes */

.orange {
    color: $orange;
}

.teal {
    color: #1CAF9A;
}

.blue {
    color: #4984B9;
}

.purple {
    color: #7D6A9F;
}

.blue-gray {
    color: $dark-blue-gray;
}
