
/* Mixin */
@mixin ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@mixin ubuntu-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

@mixin ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

@mixin transition {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

@mixin text-center {
    text-align: center;
}