<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-heading teal">Create Task</h3>
            <form name="createTaskForm" class="form-horizontal" novalidate>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Task Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="taskName" ng-model="task.name" required/>
                        <div class="error" 
                            ng-show="(createTaskForm.taskName.$dirty && createTaskForm.taskName.$invalid) 
                                        || (submitted && createTaskForm.taskName.$invalid)" >
                            <span ng-show="createTaskForm.taskName.$error.required">
                              The task name is required!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Start Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" 
                                class="form-control" 
                                name="startDate" 
                                ng-model="task.startDate" 
                                required 
                                ng-change="validateDate(createTaskForm, task.startDate, task.dueDate)"/>
                        <div class="error" 
                            ng-show="(createTaskForm.startDate.$dirty && createTaskForm.startDate.$invalid) || (submitted && createTaskForm.startDate.$invalid)" >
                            <span ng-show="createTaskForm.startDate.$error.required">
                              The task start date is required!
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <label class="control-label">Due Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" 
                                class="form-control" 
                                name="dueDate" 
                                ng-model="task.dueDate" 
                                ng-change="validateDate(createTaskForm, task.startDate, task.dueDate)"/>
<!--                        <div class="error" ng-show="createTaskForm.dueDate.$dirty && createTaskForm.dueDate.$invalid" >
                            <span ng-show="createTaskForm.dueDate.$error.required">
                              The task due date is required!
                            </span>
                        </div> -->
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 error" ng-show="(createTaskForm.startDate.$dirty && createTaskForm.taskName.$invalid) 
                                                && (createTaskForm.dueDate.$dirty && createTaskForm.dueDate.$invalid)" >
                        <span ng-show="createTaskForm.startDate.$error.invalidDate && createTaskForm.dueDate.$error.invalidDate">
                          The due date must be greater than the start date.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Projects</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="project" ng-model="task.projectId" 
                                ng-options="project.id as project.name for project in allProjects" required>
                            <option value="">Please select..</option>
                        </select>
                        <div class="error" 
                                ng-show="(createTaskForm.project.$dirty && createTaskForm.project.$invalid) 
                                            || (submitted && createTaskForm.project.$invalid)" >
                            <span ng-show="createTaskForm.project.$error.required">
                              You must select a project!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Status</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="status" ng-model="task.statusId" 
                                ng-options="status.id as status.name for status in statuses" required>
                            <option value="">Please select..</option>
                        </select>
                        <div class="error" 
                                ng-show="(createTaskForm.status.$dirty && createTaskForm.status.$invalid) 
                                            || (submitted && createTaskForm.status.$invalid)" >
                            <span ng-show="createTaskForm.status.$error.required">
                              You must select a project status!
                            </span>
                        </div>
                    </div>
                </div>
                <!-- TODO: Show a dropdown of categories -->
                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Category</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="categories" ng-model="task.categories" 
                                ng-options="item.id as item.name for item in allCategories" 
                                >
                            <option value="">Please select..</option>
                        </select>
                        <div class="error" ng-show="(createTaskForm.category.$dirty && createTaskForm.category.$invalid) || (submitted && createTaskForm.category.$invalid)" >
                            <span ng-show="createTaskForm.category.$error.required">
                              You must assign a category!
                            </span>
                        </div>
                    </div>
                </div>


                <!-- TODO: Show a dropdown of staff -->
                <!-- <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Project Manager</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="projectManager" ng-model="project.projectManagerId" 
                                ng-options="item.id as item.fullName for item in managers" required>
                            <option value="">Please select..</option>
                        </select>
                        <div class="error" ng-show="(createProjectForm.projectManager.$dirty && createProjectForm.projectManager.$invalid) || (submitted && createProjectForm.projectManager.$invalid)" >
                            <span ng-show="createProjectForm.projectManager.$error.required">
                              You must assign a project manager!
                            </span>
                        </div>
                    </div>
                </div> -->


                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Description</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description" ng-model="task.description"></textarea> 
                    </div>
                </div>
                <div class="col-sm-12 text-right form-buttons">
                    <button type="button" class="btn btn-primary" ng-click="createTask(createTaskForm)"><i class="fa fa-check"></i> Save</button>
                </div>                              
            </form>
        </div>
    </div>
</div>