<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-heading teal">Create User</h3>
            <form name="createStaffForm" class="form-horizontal" novalidate>

                  <!-- firstname -->
                  <div class="form-group">
                      <div class="col-sm-3 text-right">
                          <label class="control-label">First Name</label>
                      </div>
                      <div class="col-sm-4">
                          <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" ng-model="staff.firstName" required />
                          <div class="error" ng-show="(createStaffForm.firstName.$dirty && createStaffForm.firstName.$invalid) || (submitted && createStaffForm.firstName.$invalid)" >
                              <span ng-show="createStaffForm.firstName.$error.required">
                                The first name field is required!
                              </span>
                          </div>
                      </div>
                    </div>

                      <!-- lastName -->
                      <div class="form-group">
                          <div class="col-sm-3 text-right">
                              <label class="control-label">Last Name</label>
                          </div>
                          <div class="col-sm-4">
                              <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control" ng-model="staff.lastName" required />
                              <div class="error" ng-show="(createStaffForm.lastName.$dirty && createStaffForm.lastName.$invalid) || (submitted && createStaffForm.lastName.$invalid)" >
                                  <span ng-show="createStaffForm.lastName.$error.required">
                                    The last name field is required!
                                  </span>
                              </div>
                          </div>
                        </div>

                        <!-- email -->
                        <div class="form-group">
                            <div class="col-sm-3 text-right">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="email" id="email" placeholder="Email" class="form-control" ng-model="staff.email" required />
                                <div class="error" ng-show="(createStaffForm.email.$dirty && createStaffForm.email.$invalid) || (submitted && createStaffForm.email.$invalid)" >
                                    <span ng-show="createStaffForm.email.$error.required">
                                      The email field is required!
                                    </span>
                                </div>
                            </div>
                          </div>




                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Role</label>
                    </div>
                    <div class="col-sm-4">
                    <!-- todo: loop through valid roles -->
                        <select class="form-control" name="role" ng-model="staff.role"
                                ng-options="role for role in roles">
                            <option value="">Please select..</option>
                        </select>
                        <div class="error" ng-show="(createStaffForm.role.$dirty && createStaffForm.role.$invalid) || (submitted && createStaffForm.projectManager.$invalid)" >
                            <span ng-show="createStaffForm.role.$error.required">
                              You must assign a role!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 text-right">
                        <label class="control-label">Department</label>
                    </div>
                    <div class="col-sm-4">
                    <!-- todo loop through valid departments -->
                      <select class="form-control" name="department" 
                              ng-model="task.departmentId" 
                              ng-options="item.id as item.name for item in departments">
                          <option value="">Please select..</option>
                      </select>
                    </div>
                </div>

                <div class="col-sm-10 text-right form-buttons">
                    <button type="button" class="btn btn-primary" ng-click="createStaff(createStaffForm)"><i class="fa fa-check"></i> Save</button>
                </div>       

            </form>

        </div>
    </div>
</div>